.left-block {
    background: url('../assets/1.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
}

.heading {
    color: #2daeff;
}

.overlay {
    background-color: #00000099;
}

.right-block-top-info {
    background: url('../assets/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.round-button {
    width: 8rem;
    height: 8rem;
    border: 1px solid #0089ff;
    background-color: #189fff;
    border-radius: 4rem;
}

button.round-button:hover {
    background-color: #6ec0fa;
}

.selected {
    background-color: #0667a0db;
}

.search-button {
    height: 2.5rem;
    padding: inherit;
}

.map-link {
    padding-top: 5px;
    color: #2727d1 !important;
    cursor: pointer;
    text-decoration: underline !important;
}

button:focus {
    outline: 0px dotted !important;
}

button {
    cursor: pointer;
}

.list-group-item-rounded {
    border-radius: 2rem !important;
    margin-bottom: 2px !important;
    border-color: #00000060;
}

.card-rounded {
    box-shadow: 4px 4px 12px #00000060;
    border-radius: 5.5rem !important;
    border-color: #00000050;
}

.font-expand {
    line-height: 22px !important;
    font-size: 18px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.right-block-buttons {
    /* background: linear-gradient(to right, #b8dce8, #8bcfe6, #84d7f1b8, #8bcfe6, #b8dce8); */
    background-color: #17dada54;
}

.right-block-form {
    background-color: #b6ce8830;
}

pagination-controls {
    text-align: right;
    margin-top: 8px;
}

@media(max-width: 575px) {
    .round-button {
        width: 5rem !important;
        height: 5rem !important;
        font-size: 0.75rem;
    }
    .right-block-top-info {
        font-size: 0.75rem;
    }
    .search-button {
        font-size: 1rem;
        height: 2rem !important;
    }
    .font-small {
        font-size: 0.75rem;
    }
}

@media(min-width: 576px) {
    .my-sm-6 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media(max-width: 767px) {
    .left-block {
        height: 100px !important;
        min-height: 100px !important;
    }
}

@media(min-width: 768px) and (max-width: 828px) {
    .map-link {
        padding-top: 0px !important;
    }
}

/*Other to change*/

.modal-header .close {
    margin: -15px -15px -15px 0px;
}

.modal-xl {
    max-width: 850px !important;
    margin: 75px auto !important;
}

.map {
    height: 500px;
}

.modal-link {
    cursor: pointer;
    text-decoration: underline !important;
}

.text-blue {
    color: blue !important;
}

.pt-8 {
    padding-top: 8px !important;
}