<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-md-4 p-0 left-block">
			<div class="h-100 d-flex align-items-center justify-content-center overlay">
				<img class="rainbow-logo" src="../assets/rainbow_logo.png" alt="Rainbow">
				<div class="w-75 mt-3 header text-center">
					<!-- <p class="heading">PMPML</p> -->
					<img class="pmpml-logo rounded-circle" src="../assets/logo.png" alt="PMPML">
					<p class="sub-heading">Unofficial</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-8 px-0">
			<div class="col-12 py-3 right-block-top-info">
				<p>Welcome to the Unofficial website for Pune Mahanagar Parivahan Mahamandal Ltd (PMPML). The sole 
					purpose of this website is to provide users with information regarding bus routes of PMPML.
					Currently, we provide users options to:
				</p>
				<ul>
					<li>Search buses between two stops.</li>
					<li>Search buses from/to a particular stop</li>
					<li>Search route details for any Route No.</li>
				</ul>
				<p>In Future updates, we will be adding more features. Stay Tuned...</p>
			</div>
			<div class="row mx-0 col-12 mt-5 py-2 right-block-buttons justify-content-around">
				<button class="round-button" [class.selected]="selectedButton==1" (click)="changeButton(1)">
					Search Between Stops
				</button>
				<button class="round-button" [class.selected]="selectedButton==2" (click)="changeButton(2)">
					Search By Stop
				</button>
				<button class="round-button" [class.selected]="selectedButton==3" (click)="changeButton(3)">
					Search By Route
				</button>
			</div>
			<div class="col-12 mt-4 mt-sm-5 py-2 right-block-form">
				<form *ngIf="selectedButton==1" class="px-4" autocomplete="off">
					<div class="form-row">
						<div class="form-group col-12 col-sm-5">
							<label for="sourceStop">Source Stop</label>
							<input class="form-control" type="text" name="sourceStop" [typeahead]="stopList" 
							typeaheadOptionField="stop_name" [typeaheadOptionsLimit]=8 [(ngModel)]="from">
						</div>
						<button class="btn col-2 col-sm-1 mb-3 my-sm-6" (click)="swap()"><i class="fas fa-exchange-alt"></i></button>
						<div class="form-group col-12 col-sm-5">
							<label for="destinationStop">Destination Stop</label>
							<input class="form-control" type="text" name="destinationStop" [typeahead]="stopList" 
							typeaheadOptionField="stop_name" [typeaheadOptionsLimit]=8 [(ngModel)]="to">
						</div>
					</div>
					<button class="btn btn-primary btn-lg d-flex m-auto search-button" (click)="getFromToRoutes()">Search</button>
				</form>
				<form *ngIf="selectedButton==2" class="px-4" autocomplete="off">
					<div class="form-row">
						<div class="form-group col-12 col-sm-8">
							<label for="stopName">Stop Name</label>
							<input class="form-control" type="text" name="stopName" [typeahead]="stopList" 
							typeaheadOptionField="stop_name" [typeaheadOptionsLimit]=8 [(ngModel)]="stop">
						</div>
						<a class="col-6 col-sm-2 my-sm-6 map-link" (click)="openMapView1Modal()">Map View</a>
						<button class="btn btn-primary col-6 col-sm-2 my-sm-6" (click)="getRoutesAtStop()">Search</button>
					</div>
				</form>
				<form *ngIf="selectedButton==3" class="px-4" autocomplete="off">
					<div class="form-row">
						<div class="form-group col-12 col-sm-8">
							<label for="route">Route Number</label>
							<input class="form-control" type="text" name="route" [typeahead]="routeNoList" 
							[typeaheadOptionsLimit]=8 [(ngModel)]="route">
						</div>
						<button class="btn btn-primary col-2 my-sm-6 m-auto" (click)="getRouteDetails()">Search</button>
					</div>
				</form>
			</div>
			<div class="col-12 my-4">
				<h5 *ngIf="flag==1">Search results for {{selectedFrom}} to {{selectedTo}}</h5>
				<h5 *ngIf="flag==2">Search results for {{selectedStop}}</h5>
				<h5 *ngIf="flag==3">Search results for route no. {{selectedRoute}}</h5>
				<div class="card col-12 mt-4 card-rounded" *ngIf="list">
					<div class="card-body">
						<ul class="list-group">
							<li *ngFor="let item of list | paginate: {itemsPerPage: 8, currentPage: p}; let i=index" class="list-group-item list-group-item-rounded text-center">
								<a class="cursor-pointer" (click)="openRouteDetailsModal(item)">	
									<div class="row">
										<h6 class="col-3 col-sm-2 mb-0 font-small">{{item.route_no}}</h6>
										<h6 class="col-6 col-sm-8 mb-0 font-small">{{item.route_description}}</h6>
										<h6 class="col-3 col-sm-2 mb-0 font-small">{{item.route_direction}}</h6>
									</div>
								</a>
							</li>
							<pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
						</ul>
						<div *ngIf="alert" class="alert alert-primary list-group-item-rounded text-center" role="alert">
							No Buses or Routes found.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #routeDetailsModal='bs-modal' class="modal fade" tabindex="-1" aria-labelledby="routeDetailsModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="routeDetails-name" class="modal-title d-flex justify-content-start">
					{{selectedItem.route_no}} - {{selectedItem.route_description}} ({{selectedItem.stop_details.length}} stops)
				</h4>
				<a (click)="openMapViewModal()" class="modal-link d-flex justify-content-center pt-8">Map View</a>
				<button type="button" class="close" aria-label="Close" (click)="routeDetailsModal.hide()">
						<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body" style="height: 700px; overflow-y: scroll;">
				<ul class="list-group">
					<li *ngFor="let stop of selectedItem.stop_details" class="list-group-item text-center">
						<span [class.font-weight-bold]="isQueryStop(stop)">{{stop}}</span>
					</li>
				</ul>
				</div>
		</div>
	</div>
</div>

<div bsModal #mapViewModal='bs-modal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mapViewModal">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 *ngIf="selectedItem.route_description" id="mapView-name" class="modal-title d-flex justify-content-start">
					{{selectedItem.route_description}}
				</h4>
				<h4 *ngIf="!selectedItem.route_description" id="mapView-name-i" class="modal-title d-flex justify-content-start">
					Bus Stops
				</h4>
				<a *ngIf="selectedItem.route_description" (click)="openRouteDetailsModal(selectedItem)" 
				class="modal-link d-flex justify-content-center pt-8">
					List View
				</a>
				<button type="button" class="close" aria-label="Close" (click)="mapViewModal.hide()">
						<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<agm-map class="map" [latitude]=baseCoordinates[0] [longitude]=baseCoordinates[1] [zoom]=zoom>
					<agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude" 
					[iconUrl]="getIcon(marker)">
						<agm-info-window>
							{{marker.stop_name}}<br/>
							<a *ngIf="!selectedItem.route_description" class="modal-link text-blue" 
							(click)="setStopFromMap(marker.stop_name)">Select</a>
						</agm-info-window>
					</agm-marker>
					<agm-polyline *ngIf="selectedItem.route_description">
						<agm-polyline-point *ngFor="let marker of markers" [latitude]="marker.latitude" 
						[longitude]="marker.longitude">
						</agm-polyline-point>
					</agm-polyline>
				</agm-map>
			</div>
		</div>
	</div>
</div>

<div bsModal #mapView1Modal='bs-modal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mapView1Modal">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="mapView-name" class="modal-title d-flex justify-content-start">
					Select a location to find nearby stops <p style="font-size: 14px;">(within 500 meters)</p>
				</h4>
				
				<button type="button" class="close" aria-label="Close" (click)="mapView1Modal.hide()">
						<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<agm-map class="map" [latitude]=currentCoordinates[0] [longitude]=currentCoordinates[1] [zoom]=zoom>
					<agm-marker [latitude]="currentCoordinates[0]" [longitude]="currentCoordinates[1]" 
					[markerDraggable]=true (dragEnd)="dragEvent($event)">
						<agm-info-window>YOU</agm-info-window>
					</agm-marker>
				</agm-map>
				<button class="btn btn-primary" style="position: fixed; margin: -100px 350px;"
				(click)="viewNearby(currentCoordinates[0], currentCoordinates[1])">Nearby Stops</button>
			</div>
		</div>
	</div>
</div>