.left-block {
    background: url('../assets/1.jpg');
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.439);
    z-index: 1;
}

.pmpml-logo {
    width: 6rem;
}

.rainbow-logo {
    width: 6rem;
    position: absolute;
    top: 3px;
    left: 3px;
}

.header {
    color: rgb(27, 247, 56);
    font-family: 'Roboto Slab', serif;
}

.heading {
    font-size: 3.5rem;
    line-height: 2rem;
    text-shadow: 4px 4px 10px black;
}

.sub-heading {
    font-size: 1.2rem;
    text-shadow: 2px 2px 6px black;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.439);
}

.right-block-top-info {
    background: url('../assets/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.439);
    font-weight: 500;
}

.round-button {
    width: 8rem;
    height: 8rem;
    border: 1px solid rgb(0, 137, 255);
    background-color: rgb(24, 159, 255);
    border-radius: 4rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.439);
}

button.round-button:hover {
    background-color: rgb(110, 192, 250);
}

.selected {
    background-color: rgba(6, 103, 160, 0.859);
}

.search-button {
    height: 2.5rem;
    padding: inherit;
}

.map-link {
    padding-top: 5px;
    color: rgb(39, 39, 209) !important;
    cursor: pointer;
    text-decoration: underline !important;
}

button:focus {
    outline: 0px dotted !important;
}

button {
    cursor: pointer;
}

.list-group-item-rounded {
    border-radius: 2rem !important;
    margin-bottom: 2px !important;
    border-color: rgba(0, 0, 0, 0.376);
}

.card-rounded {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.376);
    border-radius: 5.5rem !important;
    border-color: rgba(0, 0, 0, 0.314);
}

.font-expand {
    line-height: 22px !important;
    font-size: 18px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.right-block-buttons {
    /* background: linear-gradient(to right, #b8dce8, #8bcfe6, #84d7f1b8, #8bcfe6, #b8dce8); */
    background-color: rgba(23, 218, 218, 0.329);
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.439);
}

.right-block-form {
    background-color: rgba(182, 206, 136, 0.188);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.439);
}

.modal-link {
    cursor: pointer;
    text-decoration: underline !important;
}

.modal-header .close {
    margin: -15px -15px -15px 0px;
}

.modal-xl {
    max-width: 850px !important;
    margin: 75px auto !important;
}

.map {
    height: 500px;
}

.text-blue {
    color: blue !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.nearby-button {
    position: fixed;
    margin: -100px 40%;
}

pagination-controls {
    text-align: right;
    margin-top: 8px;
}

@media(max-width: 575px) {
    .round-button {
        width: 5rem !important;
        height: 5rem !important;
        font-size: 0.75rem;
    }
    .right-block-top-info {
        font-size: 0.75rem;
    }
    .search-button {
        font-size: 1rem;
        height: 2rem !important;
    }
    .font-small {
        font-size: 0.75rem;
    }
}

@media(min-width: 576px) {
    .my-sm-6 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media(max-width: 767px) {
    .left-block {
        height: 100px !important;
        min-height: 100px !important;
    }
    .pmpml-logo {
        width: 4rem;
    }
    .rainbow-logo {
        width: 4.5rem;
    } 
    .nearby-button {
        margin: -100px 36% !important;
    }

}

@media(min-width: 768px) and (max-width: 828px) {
    .map-link {
        padding-top: 0px !important;
    }
}