.height-100 {
    height: 100px;
}

.top-nav {
    height: 300px;
    background: url('../assets/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% 100%; */
    position: relative;
}

.button-height {
    height: 11vw;
    margin-bottom: 0.1rem;
}

.p-custom {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.height-160 {
    height: 160px;
}

.round-icon {
    border: 1px solid white;
    background-color: #ffffffe0;
    border-radius: 9rem;
}

.height-top {
    height: 65%;
}

.height-bottom {
    height: 35%;
}

.search-bar {
    padding-top: 1rem;
    background-color: #000000b0;
    margin-bottom: 1rem;
    margin-top: 0rem;
    border: 1px solid #00000000;
    border-radius: 40px;
}

.w-120 {
    /* width: 120px !important; */
}

.bg-hover:hover  {
    background-color: #ffffffff;
}

.btn-primary:hover {
    background-color: blue;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0px dotted !important;
}

button:hover {
    background-color: #e5fffbe0;
}

.w-auto {
    width: auto;
}

.selected {
    background-color: #aaf7ebe0;
}

button:disabled {
    cursor: no-drop;
}

.list-group-item-rounded {
    border-radius: 2rem !important;
    margin-bottom: 2px !important;
    border-color: #00000060;
}

.card-rounded {
    box-shadow: 4px 4px 12px #00000060;
    border-radius: 5.5rem !important;
    border-color: #00000050;
}

a:hover {
    text-decoration: underline !important;
}

.font-expand {
    line-height: 22px !important;
    font-size: 18px !important;
}

.map {
    height: 500px;
}

.modal-link {
    cursor: pointer;
    text-decoration: underline !important;
}

.text-blue {
    color: blue !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.modal-header .close {
    margin: -15px -15px -15px 0px;
}

.modal-xl {
    max-width: 850px !important;
    margin: 75px auto !important;
}

.cursor-pointer {
    cursor: pointer !important;
}
/* 
.mb-01 {
    margin-bottom: 0.3rem !important;
}

.hide {
    display: none;
}

.show {
    display: block;
} */

/*Media Queries*/

@media(max-width: 468px) {
    .col-c-12 {
        flex: 0 0 48%;
        max-width: 48%
    }
    .button-height {
        height: auto !important;
        font-size: 0.6rem;
    }
}

@media(max-width: 568px) {
    .button-height {
        font-size: 0.6rem;
    }
}

@media(max-width: 640px) {
    .top-nav {
        height: 200px;
    }
}

@media(max-width: 767px) {
    .button-height {
        height: 13vw !important;
        font-size: 0.8rem;
    }
    .p-custom {
        padding-top: 2rem !important;
    }
}

@media(max-width: 986px) {
    .height-top {
        height: 60% !important;
    }
    
    .height-bottom {
        height: 40% !important;
    }
    h6 {
        font-size: 0.8rem !important;
    }
    input {
        height: 1.8rem !important;
        width: 6rem !important;
    }
    button {
        height: 1.8rem;
        padding-top: 1px;
    }
}

@media(min-width: 1440px) {
    .col-c-6 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
}

@media(min-width: 1600px) {
    .top-nav {
        height: 450px;
    }
    .button-height {
        font-size: 1.5rem;
    }
}

@media(min-width: 1980px) {
    .height-top {
        height: 70% !important;
    }
    
    .height-bottom {
        height: 30% !important;
    }
}